<configuration>
    <appender name="EMAIL" class="ch.qos.logback.classic.net.SMTPAppender">

        <smtpHost>BELKECMAIL50VM</smtpHost>
        <smtpPort>25</smtpPort>
        <STARTTLS>true</STARTTLS>

        <to>ecommQAEnvironment@belk.com</to>
        <to>sachin_kulkarni@belk.com</to>
        <from>gigaspace.admin@belk.com</from>
        <subject>%date - %m{50}</subject>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%message%n</pattern>
        </layout>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="EMAIL" />
    </root>
</configuration>